version: '2'

services:

  ${NGINX_SERVICE_NAME}:
    image: jwilder/nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx-custom.conf:/etc/nginx/conf.d/nginx_custom.conf:ro
      - ${NGINX_CERTS_PATH}:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped
    container_name: ${NGINX_CONTAINER_NAME}
    networks:
      - ${PROXY_NETWORK}

networks:
  ${PROXY_NETWORK}: {}