# docker-compose.yml
version: '2'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx-custom.conf:/etc/nginx/conf.d/nginx_custom.conf:ro
      #- ${CERTS_PATH}:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped
    container_name: ${NGINX_CONTAINER}
    networks:
      - scope_proxy

networks:
  scope_proxy: {}