# Customize this ini file at your convenience

# Example with innodb
#innodb_buffer_pool_size = 1G
#innodb_log_buffer_size = 64M
#innodb_log_file_size = 64M
#innodb_write_io_threads = 16
#innodb_flush_log_at_trx_commit = 0
#innodb_thread_concurrency = 0
